.back-btn{
    background-color: #01d293;
    border-radius: 50%;
    padding: 9px;
    position: fixed;
    left: 1%;
    top: 9%;
    cursor: pointer;
    color: white;
}

.detail-page-main-container{
    min-height: 100vh;
    width: 100%;
    padding-top: 63px;
    font-size: 100%;
    background-color: #0E1930;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-detail-container{
    background-color: #fff;
    width: 45em;
    margin-top: 59px;
    margin-left: 59px;
    border-radius: 9px;
}

.product-detail-container h2 {
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 9px;
    overflow-wrap: break-word;
}

.product-detail-container h3 {
    font-weight: 600;
    font-size: 1.3em;
    padding-left: 9px;
    overflow-wrap: break-word;
}

.product-detail-container span {
    font-weight: 400;
    font-size: 1em;
    padding: 0px 9px;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
}

.place-bid-container{
    background-color: #fff;
    width: 31em;
    padding: 9px;
    border-radius: 9px;
    margin-right: 19px;
}

.place-bid-container > form > input{
    background-color: #fff;
    border-radius: 9px;
    padding: 5px 9px;
    width: 69%;
    margin-left: 5px;
}

.place-bid-container > form > button{
    background-color: #01d293;
    padding: 5px 19px;
    border-radius: 9px;
    margin-left: 13px;
}

.place-bid-container > div{
    width: 100%;
    height: 21em;
    padding: 3px;
    overflow-y: auto;
}

.place-bid-container > div > div{
    padding: 3px;
    margin: 3px auto;
    border-radius: 12px;
    text-align: center;
    background-color: #01d293;
}

/* @media screen and (width <= 1249px) {
    .detail-page-main-container{
        font-size: 89%;
    }

    .place-bid-container{
        width: 25em;
    }

    .product-detail-container{
        width: 43em;
    }
}

@media screen and (width <= 1249px) {
    .detail-page-main-container{
        font-size: 83%;
    }

    .place-bid-container{
        width: 25em;
    }

    .product-detail-container{
        width: 39em;
    }
}

@media screen and (width <= 649px) {
    .detail-page-main-container{
        flex-direction: column-reverse;
        justify-content: center;
        font-size: 91%;
    }
} */

@media screen and (width <=219px) {
    .detail-page-main-container {
        padding-top: 93px;
        font-size: 75%;
    }
}