.dashboard-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #0E1930;
    width: 100%;
    padding-top: 63px;
    font-size: 100%;
}

.product-card {
    background-color: #01d293;
    height: 25em;
    width: 19em;
    margin: 9px;
    border-radius: 12px;
}

.product-card img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product-card h2 {
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 9px;
    overflow-wrap: break-word;
}

.product-card h3 {
    font-weight: 600;
    font-size: 1.3em;
    padding-left: 9px;
    overflow-wrap: break-word;
}

.product-card span {
    font-weight: 400;
    font-size: 1em;
    padding: 0px 9px;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
}

.product-card button {
    background-color: #171f38;
    width: 75%;
    margin: auto;
    display: block;
    padding: 9px;
    border-radius: 12px;
    color: white;
    margin-top: 9px;
}

@media screen and (width <=219px) {
    .dashboard-main-container {
        padding-top: 93px;
        font-size: 75%;
    }
}